<div class="col1-3">
	<div class="media module">
		<a href="{{link}}" target="_blank">
      <img src="{{img}}"/>
      <div class="title">{{organization}}: "{{name}}"</div>
      <div class="date">{{date}}</div>
    </a>
	</div>
</div>
