{{>header}}

<main class="container my-5">

<h1>Games</h1>

<p> A very incomplete list of games made in the Louisville area, more to come soon!</p>
  <div class="row">
    {{#each games}}
    {{#if show}}
      <div class="col-md-4">
        <div class="card game-card bg-dark text-white">
          <div class="card-img-container">
          <a href="{{link}}" target="_blank" >
            <img class="card-img-top" src="{{image}}" alt="{{name}}">
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            {{#if complete}}
            <p class="card-text">Released {{released}}</p>
            {{else}}
            <p class="card-text">In Development since {{started}}</p>
            {{/if}}
            <p class="card-text">By {{creator}}</p>
            <p class="card-text">{{pitch}}</p>
            {{!-- <a href="{{link}}" target="_blank" class="btn btn-primary">Play Now</a> --}}
          </div>
        </div>
      </div>
       {{/if}}
    {{/each}}
  </div>
</div>


</main>
{{>footer}}