{{>header}}

<main class="container my-5">


  {{> game-harvest-event-details}}



  

   <!-- Games Count -->
  <section id="games-count">
    <h2>We have {{local-game-harvest.lgh.length}} games, all by local creators!</h2>
  </section>

  <!-- Games Showcase -->
  <section id="games-showcase">
    <h2>Featured Games</h2>
    <div class="games-list">
      {{#each local-game-harvest.lgh}}
      <div class="game-item">

        <img src="img/games/lgh-2024/{{name}}.gif" alt="{{name}}" class="game-image animated">
      <strong>{{name}}</strong>
      <p>{{developer}}</p>
      </div>
      {{/each}}
    </div>
  </section>
</main>

{{>footer}}
