{{>header}}

<main class="container my-5">


  {{> game-harvest-event-details}}


<p class="event-description">
              IT. IS. AUTUMN. That means it is time once again for us to harvest a bunch of cool video games made by YOUR neighbors for YOU TO PLAY!
              <br><br>
              This year's Local Game Harvest is BUSTIN' out of our quaint downtown co-working space and taking over the Urban Sports Park right on Main Street! If you see a wild light show and giant video games lighting up the walls, COME ON IN!
            </p>
       <a id="games"></a>     
  <!-- Games Count -->
  <section id="games-count">
    <h2>We have {{local-game-harvest.lgh.length}} games, all by local creators!</h2>
  </section>

  <!-- Games Showcase -->
  <section id="games-showcase">
    <h2>Featured Games</h2>
    <div class="games-list">
      {{#each local-game-harvest.lgh}}
      <div class="game-item">

        <img src="img/games/lgh-2024/{{name}}.gif" alt="{{name}}" class="game-image animated">
      <strong>{{name}}</strong>
      <p>{{developer}}</p>
      </div>
      {{/each}}
    </div>
  </section>
</main>

{{>footer}}
